# Sample Haskell gitignore from https://github.com/github/gitignore
l-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config

# No vim swap files
*.swp

# No data files
*.csv
*.xml
